.find_pass_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 557px;
}
.find_pass_text {
  font-weight: bolder;
  font-size: 30px;
  margin: 0px 0px 8px;
}
.sub_text {
  margin: 0px 0px 35px;
  font-size: 14px;
}
input {
  display: block;
  height: 43px;
  width: 353px;
  border: 1px solid black;
}
.find_button {
  display: block;
  height: 43px;
  width: 353px;
  margin-top: 30px;
  background-color: black;
  border: 1px solid black;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}
