@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  margin: 0;
  background-color: rgba(105, 105, 105, 0.11);
}
header {
  background-color: black;
  height: 70px;
}
.header_logo {
  padding-top: 20px;
  padding-left: 300px;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
main {
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* justify-items: center; */
}
a {
  text-decoration: none;
  color: white;
}
.main_box {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* justify-items: center; */
  height: 600px;
  margin-top: 100px;
  background-color: rgb(37, 37, 37);
}
.welcome_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-items: center; */
  align-items: center;
  width: 557px;
}
footer {
  margin-top: 70px;
}
.footer_link {
  height: 45px;
  border: 1px solid rgb(133, 133, 133);
  padding-top: 20px;
  padding-left: 500px;
  font-weight: bolder;
}
.footer_link_a + .footer_link_a {
  padding-left: 40px;
}
.footer_info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.footer_img {
  padding-right: 50px;
}
.company_info {
  padding-right: 500px;
}
.company_info > p {
  font-size: 13px;
  font-weight: bolder;
}
.between_bar {
  border-right: 100px solid white;
}
.contact_nepp {
  border-left: 1px solid rgb(133, 133, 133);
  height: 130px;
}
.contact_nepp > p {
  padding-left: 50px;
  font-size: 13px;
  padding: 0px 30px;
}
.contact_nepp > p:first-child {
  font-weight: bolder;
  font-size: 15px;
}
.contact_nepp > p > span {
  font-weight: bolder;
  padding-right: 20px;
}
