.lotto-box {
  display: flex;
}
.lotto-num.yellow {
  background-color: yellow;
  color: white;
}
.lotto-num.blue {
  background-color: blue;
  color: white;
}
.lotto-num.red {
  background-color: red;
  color: white;
}
.lotto-num.grey {
  background-color: grey;
  color: white;
}
.lotto-num.green {
  background-color: green;
  color: white;
}
.lotto-num {
  width: 18px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
