body {
  text-align: center;
}
#app {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  justify-content: center;
}
.each-article {
  border: 1px solid white;
  width: 300px;
  height: 500px;
  margin: 10px;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: 200px;
}
@media only screen and (max-width: 1440px) {
  #app {
    grid-template-columns: repeat(3, 300px);
  }
}
@media only screen and (max-width: 1024px) {
  #app {
    grid-template-columns: repeat(2, 300px);
  }
}
@media only screen and (max-width: 768px) {
  #app {
    grid-template-columns: repeat(2, 300px);
  }
}
@media only screen and (max-width: 320px) {
  #app {
    grid-template-columns: repeat(1, 320px);
  }
}
