body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  /* position: fixed; */
}
.logo-input {
  width: 500px;
  display: flex;
}
.input-box {
  border: 1px solid #505455;
  border-radius: 10px;

  margin-left: 30px;
  width: 350px;
  height: 40px;
}
input {
  /* border: none; */
  width: 300px;
  padding: 0;
  height: 100%;
  margin-left: 10px;
  border: none;
  outline: none;
}
.input-box > a {
  position: relative;
}
.input-box > a > img {
  position: absolute;
  top: 1px;
  left: 3px;
}
.down-chat {
  width: 250px;
  display: flex;
  justify-content: center;
  position: relative;
}
.down-arrow {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: 20px;
}
.download {
  /* text-align: center;
  vertical-align: middle; */
  padding: 5px;
  /* margin: 30; */
  cursor: pointer;
}
.arrow {
  width: 15px;
  height: 10px;
  transition: all ease 0.2s;
}
.download2 {
  background-color: #2a2c2d;
  width: 200px;
  height: 120px;
  border: 1px solid #505455;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: -90px;
  z-index: 1;
  display: none;
}
.download2 > ul {
  list-style: none;
  padding: 10px 20px;
}
.download2 > ul > li {
  display: flex;
  align-items: center;
}
.download2 > ul > li + li {
  margin-top: 20px;
}
.download2 > ul > li > a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}
.chatting {
  border: 1px solid #505455;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.beta {
  font-weight: bolder;
  color: orange;
}
.down-chat.active > .download2 {
  display: block;
}
.down-chat.active > .down-arrow > .arrow {
  transform: rotate(180deg);
}
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}
.first-div {
  background-image: url("https://cdn.imweb.me/upload/S201805155afaae737a922/5be53eb0b4a05.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.first-div-content {
  width: 430px;
  background-color: rgba(0, 0, 0, 0.481);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.second-div {
  background-image: url("http://www.sommeliertimes.com/news/photo/202010/17364_37775_4024.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.third-div {
  background-image: url("https://www.thelabradorsite.com/wp-content/uploads/2017/05/Can-dogs-eat-carrots-LS-long.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.fourth-div {
  background-image: url("http://file2.instiz.net/data/cached_img/upload/2015020223/1cbe027a2c5beaccf6dd4cb74f8e7e41.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fifth-div {
  background-image: url("http://image.yes24.com/blogimage/blog/e/n/endendhi/20170816152306919462.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-div > h1 {
  margin: 100px 0;
}
.card-div > a {
  margin-bottom: 100px;
  color: white;
  text-decoration: underline;
}
.card-box {
  width: 1024px;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 210px;
  height: 320px;
  margin: 20px;
}
.card-img {
  width: 212px;
  height: 212px;
  border-radius: 10px;
}
.card-text {
}
