header {
  display: flex;
  justify-content: space-evenly;
}
h1 {
  display: flex;
  justify-content: center;
}
.thumbs-up {
  width: 100px;
  height: 50px;
}
nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
li:hover {
  background-color: black;
}
li {
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
}
.select-country {
  width: 74px;
  height: 43px;
  margin-top: 16px;
}
.form-search {
  margin-top: 30px;
}
#app {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
}
.each-article {
  border: 1px solid white;
  width: 300px;
  height: 500px;
  margin: 20px;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: 200px;
}
.pagination:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1440px) {
  #app {
    grid-template-columns: repeat(3, 300px);
  }
}
@media only screen and (max-width: 1024px) {
  #app {
    grid-template-columns: repeat(2, 400px);
  }
}
@media only screen and (max-width: 768px) {
  #app {
    grid-template-columns: repeat(2, 300px);
  }
}
@media only screen and (max-width: 320px) {
  #app {
    grid-template-columns: repeat(1, 400px);
  }
}
